@{
    ViewData["Title"] = "About Us";
}

<h1>About us<br></h1>


<div class="container" style="text-align: left; margin-top: 30px; color: darkorchid; max-width: 700px; background-color: rgba(255, 255, 255, 0.0)">
    <p>Here at KhumaloCraft, we dedicate ourselves to providing and maintaining an excellent platform in which our fellow Artisans are able to showcase, as well as retail thier professions. Our story began with a passion for connecting artisans from around the world with appreciative audiences like you. Each piece in our collection embodies the dedication and skill of its creator, weaving together a tapestry of cultural heritage and artistic expression. We invite you to explore our curated selection of handcrafted treasures, each crafted with love and imbued with a rich story to share. Join us on this journey of discovery and appreciation for the timeless beauty of handmade creations. </p>
</div>