@{
    ViewData["Title"] = "Contact Us";
}

<h1>Contact Us</h1>
<p>We look foward to hearing from you!</p>

<div class="row">
    <div class="col-sm-6">
        <div class="card" style="background-color: seashell">
            <div class="card-body">
                <h5 class="card-title">Contact Details</h5>
                <p class="card-text">Call: + (27) 420 6969</p>
                <p>Email: khumalocraft@support.kc.za</p>
                <p>91 Business Park Ave<br>Durban<br>4051</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card" style="background-color: seashell">
            <div class="card-body">
                <h5 class="card-title">Operating Hours</h5>
                <p class="card-text">Mon-Fri: 08:00 - 17:00</p>
                <p>Sat-Sun: 09:00 - 15:00</p>
                <p>Public Holidays: 09:00 - 13:00</p>
            </div>
        </div>
    </div>
</div>
