@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to KhumaloCraft</h1>
    <p>The foremost authority for artisinal aspirations.<br><br></p>
</div>

<div class="card text-center" style="background-color: rgba(255, 255, 255, 0.0); border-color: rgba(255, 255, 255, 0.0)">
    <center>
    <img class="card-img-top align-items-center" style="max-width: 620px" src="images/HomePage.png">
    </center>
    <div class="card-body">
        <h5 class="card-title">Visit one of our pages</h5>
        <p class="card-text" style="color: palevioletred">Select a page below</p>
        <a href="Home/AboutUs" class="btn btn-sm btn-primary">About us</a>
        <a href="Home/MyWork" class="btn btn-sm btn-primary">My Work</a>
        <a href="./ProductInformations" class="btn btn-sm btn-primary">Shop</a>
        <a href="Home/ContactUs" class="btn btn-sm btn-primary">Contact us</a>
        <a href="Home/Privacy" class="btn btn-sm btn-primary">Privacy</a>
    </div>
</div>
