@{
    ViewData["Title"] = "My Work";
}

<div class="text-center">
    <h1>KhumaloCraft Emporium</h1>
    <div class="container" style="text-align: center; margin-top: 30px; color: darkorchid; max-width: 700px; background-color: rgba(255, 255, 255, 0.0)">
        <p>
            Welcome to KhumaloCraft Emporium, where craftsmanship and creativity converge. This page celebrates artisans worldwide, each piece reflecting dedication and skill, weaving a tapestry of cultural heritage and artistic expression.<br>
            Explore our diverse collection, spanning a range of crafts and techniques, from the intricate art of crochet to the timeless beauty of pottery. Whether you're drawn to the elegance of artistic lapidary or the rustic charm of metalwork, there's something here to captivate every soul.<br>
        </p>
    </div>
</div>

<div class="container" style="background-color: rgba(255, 255, 255, 0.0)">
    <div class="row">

    <div class="col-md-6 mb-3">
      <div class="card" style="border-radius: 8px;">
          <img class="card-img-top img-fluid" src="../images/Pottery.jpg" alt="Pottery" />
        <div class="card-body">
          <h5 class="card-title">Handcrafted Pottery</h5>
          <p class="card-text" style="color: palevioletred"><br>Step into the world of pottery and discover the beauty of handmade ceramics. Crafted with clay and passion, our pottery pieces exude character and charm. From rustic vases to elegant tableware, each piece is unique, bearing the marks of the artisan's hands. Bring a touch of artisanal craftsmanship to your home with our pottery collection.</p>
          <a href="../ProductInformations/ShowPottery" class="btn btn-primary">More info</a>
        </div>
                <div class="card-footer text-muted">Price range: R550 - R950</div>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="card" style="border-radius: 8px;">
          <img class="card-img-top img-fluid" src="../images/Crochet.jpg" alt="Crochet" />
        <div class="card-body">
          <h5 class="card-title">Hand Stitched Crochet</h5>
          <p class="card-text" style="color: palevioletred"><br>Dive into the cosy world of crochet with our artisanal collection. Crafted with love and skill, our crochet pieces bring warmth and charm to any setting. From snug blankets to stylish accessories, each item tells a story of craftsmanship and creativity, making it the perfect addition to your home or wardrobe.</p>
          <a href="../ProductInformations/ShowCrochet" class="btn btn-primary">More info</a>
        </div>
                <div class="card-footer text-muted">Price range: R150 - R450</div>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="card" style="border-radius: 8px;">
          <img class="card-img-top img-fluid" src="../images/Lapidary.png" alt="Lapidary" />
        <div class="card-body">
          <h5 class="card-title">Handcut Lapidary Art</h5>
          <p class="card-text" style="color: palevioletred"><br>Embark on a journey through the dazzling realm of lapidary. Our collection showcases the natural beauty of hand-cut gemstones, transformed into exquisite jewellery pieces. Each gemstone is carefully selected and expertly crafted by skilled artisans, resulting in timeless pieces that radiate elegance and allure.</p>
          <a href="../ProductInformations/ShowLapidary" class="btn btn-primary">More info</a>
        </div>
                <div class="card-footer text-muted">Price range: R850 - R1550</div>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="card" style="border-radius: 8px;">
          <img class="card-img-top img-fluid" src="../images/Metalwork.png" alt="Metalwork" />
        <div class="card-body">
          <h5 class="card-title">Hand Forged Metal Work</h5>
          <p class="card-text" style="color: palevioletred"><br>Explore the artistry of metalwork with our curated selection of handcrafted items. Crafted by skilled artisans, our metal pieces blend traditional craftsmanship with contemporary design, creating stunning jewellery and décor items. From intricate details to bold statements, each piece reflects the passion and skill of its maker.</p>
          <a href="../ProductInformations/ShowMetalWork" class="btn btn-primary">More info</a>
        </div>
                <div class="card-footer text-muted">Price range: R750 - R1650</div>
      </div>
    </div>

  </div>
</div>